<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.sebank.vo.Customer" alias="Customer" />
		<typeAlias type="global.sesoc.sebank.vo.Board" alias="Board" />
	</typeAliases>
	<mappers>
		<mapper resource="mappers/customerMapper.xml" />
		<mapper resource="mappers/boardMapper.xml" />
	</mappers>
</configuration>