<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.sesoc.sebank.dao.CustomerDAO">
	<select id="login" resultType="Customer" parameterType="Customer">
		select custid, name
		from customer
		where custid=#{custid} and password=#{password}
	</select>
	<select id="idCheck" resultType="String" parameterType="String">
		select custid
		from customer
		where custid=#{custid}
	</select>
	<insert id="insert" parameterType="Customer">
		insert into customer
		values
		(
		#{custid}, #{password}, #{name},
		#{email}, #{division}, #{idno}, #{address}
		)
	</insert>
	<select id="updateSelect" resultType="Customer" parameterType="String">
		select custid, name, email, division, idno, address
		from customer
		where custid=#{custid}
	</select>
	<update id="update" parameterType="Customer">
		update customer
		set password=#{password}, name=#{name}, email=#{email},
			division=#{division}, idno=#{idno}, address=#{address}
		where custid=#{custid} and password=#{password}
	</update>
</mapper>